body {
    background-color: black;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

.white-box {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
    margin: 0px;
}

.grey-btn {
    background-color: rgb(200, 200, 200);
    border-style: none;
    width: 15rem;
}

.grey-btn:hover {
    background-color: rgb(119, 119, 119);
}